
<!DOCTYPE HTML>
<html>
<head>

	<link rel="stylesheet" href="css/basic.css">

</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<%- include('sidepanel2'); -%>
	</div>
<main>
   <div class="f-container">
	<div class="f-view">
		<div class="f-item"> <span class="f-txt">764</span> <br/><span class="f-txt" >Registered vendor</span></div>
		<div class="f-item"><span  class="f-txt">764</span> <br/> <span class="f-txt">Registered Customer</span></div>
		<div class="f-item"><span  class="f-txt">12</span>  <br/><span class="f-txt">Registered Cities</span></div>
	</div>
	<div class="r-view">
	
		<div class="r-item"><span  class="f-txt">12</span>  <br/><span class="f-txt">Registered Cities</span></div>
	</div>

   </div>
</main>
<%- include('added'); -%>
</body>
</html>