<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head></head>
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		
	</div>
		<!--left-fixed -navigation-->
		
		<!-- header-starts -->   
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page"> 
                <div class="containers" style="display: flex; justify-content: center; align-items: center; height: 550px ; margin-bottom: 100px; ">
                
  
              <h1 style="font-size: 40px;">data saved</h1>
       
			
	  </div>
                 
                </div>
         
		
		<!--footer-->
	
        <!--//footer-->
	</div>
	
</body>
</html>