<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/vendorform.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/card.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title> 

</head>
<body>
    <a href="/sales1"> <button  class="f-btn  button-3">backhome</button> </a>

    <div style="display:flex; margin-top:100px; margin-bottom:20px; margin-left:30px; margin-right:30px; flex-direction:rows ">
       
      
        <div class="courses-container">
            <div class="course">
                <div class="course-preview">
                    <h2>Data Successfully Saved</h2>
                </div>
                <div class="course-info">
                    <div class="progress-container">
                        
                        
                    </div>
                   <h1>data saved</h1>
                 
                </div>
            </div>
        </div>


      
     </div>


      <%- include('partials/sidepanel2', {daata:dta}); %>
    
    
</body>
</html>