
<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head> 
<body class="cbp-spmenu-push">

	
   
  

        <%- include('partials/sidepanel2', {daata:dta}); %>
		

   

       


	<section >
		<div>
			<h1>Welcome to Gemba Infotech</h1>
		
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugiat, placeat rem debitis at, vel, eligendi ex quas earum minus asperiores quibusdam harum adipisci exercitationem voluptatum quo provident nesciunt natus.</p>
			<div style="display: flex; align-items: center; justify-content: center; margin-top: 60px;">
				<img src="images/WALLPAPER.jpg"    width="400px" height="300px" alt="">
				</div>
		
		</div>

		

	
	

	
	
</body>
</html>
