

<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/vendorform.css">
    <link rel="stylesheet" href="/css/button.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title> 
</head>
<body>

    <%- include('partials/sidepanel2', {daata:dta}); %>


    <div style="display:flex; margin-top:100px; margin-bottom:20px; margin-left:30px;  flex-direction:rows ">
        <a href="/sales1"> <button  class="f-btn  button-3">NEW</button> </a>
        <a href="/sales2"><button class="f-btn  button-3">DISPLAY</button></a>
        <a href="/sales3"><button class="f-btn button-3" >CHANGE</button></a>
       
          </div>

     <h2>parking Container</h2>

















     <div class="courses-container">
        <div class="course">
            <div class="course-preview">
                <h2>ADD  PARKING</h2>
            </div>
            <div class="course-info">
                <div class="progress-container">
                    
                    
                </div>
                <h2>Select Vendor ID to ADD Parking</h2>
                
             
            </div>
        </div>
    </div>













     
  

</body>
</html>
