

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

</head>
<body>

<div class="box-form">
    <div class="left">
        <div class="overlay">
        <h1 class="hidden">saigfulfgafuig</h1>
        <p> </p>
        
        </div>
    </div>
    
    
        <div class="right">
        <h5>Signup</h5>
        <p>Already have an account? <a href="/login">Login</a>&nbsp; Welcome to G-PARKING</p>
       <form action="/register" method="post">
	  
		<input name="id" class="ip" type="text" placeholder="id" required>
		<br>
		<input name="name" class="ip" type="text" placeholder="name" required>
		<br>
		<input name="role" class="ip" type="text" placeholder="role" required>


		<br>
		<br>
		<button type="submit">  signup</button></form>
    </div>
    
</div>
<!-- partial -->
  
</body>
</html>

