<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Document</title>
<link rel="stylesheet" href="/css/table.css">


</head>
<body>


    <%- include('partials/sidepanel2', {daata:dta}); %>
    <div style="display:flex; margin-top:100px; margin-bottom:20px; margin-left:30px;  flex-direction:rows ">
        <a href="/sales1"> <button  class="f-btn  button-30">NEW</button> </a>
        <a href="/sales2"><button class="f-btn  button-30">DISPLAY</button></a>
        <a href="/sales3"><button class="f-btn button-30" >CHANGE</button></a>
      
         </div>
      
         <div style="margin-top:40px ; margin-left:200px "> 
            <img   style="width: 60vw; height:30%" src="images/GEMBAt.jpg" alt="">
         </div>
 

   
    
    
</body>
</html>